<div  style="background-color: rgb(110, 133, 121)">
<table>
        <tr>
    <td><img src="../../assets/images/Admin.png" style="height:80px;width:100px"  id="nav"></td>
    <td>&nbsp;</td>
        <td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td>
        <td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td>
        <td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td>
        <td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
         <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td>
   <td><p  align="center" style="color:rgba(133, 7, 66, 0.637); font-style:bold;font-size: xx-large; ">Mentors On Demand</p></td> 
</tr>
    </table>
    <div style="color:rgb(134, 16, 0); " > 
    <br>
        <br>
  <div style="background-color: rgb(21, 23, 26)">
<table>
    <tr>
        <td ><a routerLink="/userslist"> Users</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><a routerLink="/ongoing">On Going Trainings</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td ><a routerLink="/technologies"> Technologies</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><a routerLink="/payments">Payments</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td ><input type="button" class="btn btn-link" routerLink="/home" value="logout"> </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
<br>
</div>
<div style="background-color: rgb(177, 170, 82);padding:100px">
    <h3 align="center">Responsibilities</h3>
    
    <ol align="center" >
        1.Ensure quality service with efficient and effective management.<br>
         &nbsp;&nbsp;&nbsp;2.Supervise the users including mentors and observe their actions.<br>
         &nbsp;&nbsp;3.Any Suspecious actions were found to admin block those users.<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         4.Report everytime when you perform block and unblock actions to superior
    </ol>
</div>
</div>