<div>
        <div style="display: table;clear:both">
            <p  id="lform" align="center" style="color:rgba(133, 7, 66, 0.637); font-style:bold;font-size: xx-large; ">Mentors On Demand</p>
        <br><br>
            <div style="background-color:rgb(54, 161, 54); width:25%;padding:142.5px;float:left">
                <br>  <br>  <br>  
                <h2 style="color:white" align="left" >Navigation</h2>
              
            <a routerLink="/home"><h4>Home</h4></a>
            <a routerLink="/logins"><h4>Login</h4></a>
            <a routerLink="/signup"><h4>Signup?</h4></a>
            
            <div class="dropdown">
                <button class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  search Courses 
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" routerLink="/fullstack"> Java Full Satck</a>
                  <a class="dropdown-item" routerLink="/web">Web Development</a>
                  <a class="dropdown-item" routerLink="/cloud">Cloud Computing</a>
                  <a class="dropdown-item" routerLink="/AWS">AWS</a>
                  <a class="dropdown-item" routerLink="/iot">IOT(AI,ML)</a>
                 
                  
                  
                 
                </div>
              </div>
          
            </div>
            <div  style="background-color:rgb(30, 128, 194);width:75%;padding:120px;float:left">
                <h2  align="center" style="color:rgb(34, 231, 8)"> - Please Select the Image to login as</h2>
                <table id="button" align="center" style="background-color: honeydew; border-block-color: rgba(107, 160, 23, 0.534);border-style: double " border=10>
                <tr>
                   
                <td><a routerLink="/Ulogin"><img src="../../assets/images/Mentee.jpg" width="250px"> </a> </td>            
                <td><a routerLink="/Mlogin"><img src="../../assets/images/Mentor.jpg" width="250px"> </a> </td>
                <td><a routerLink="/Alogin"><img src="../../assets/images/Admin.png" width="250px"></a></td>
                </tr>
                </table>
            </div>
            </div>
          </div>