<p  align="center" style="color:rgba(133, 7, 66, 0.637); font-style:bold;font-size: xx-large; ">Mentors On Demand</p>



      
        <br><br>


<div style="display: table;clear:both">
<div style="background-color:rgb(54, 161, 54); width:25%;padding:90.5px;float:left">
    <h2 style="color:white" align="left" >Navigation</h2>
<a routerLink="/home"><h4>Home</h4></a>
<a routerLink="/logins"><h4>Login</h4></a>
<a routerLink="/signup"><h4>Signup?</h4></a>
 
<div class="dropdown">
                <button class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  search Courses here
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" routerLink="/fullstack"> Java Full Satck</a>
                  <a class="dropdown-item" routerLink="/web">Web Development</a>
                  <a class="dropdown-item" routerLink="/cloud">Cloud Computing</a>
                  <a class="dropdown-item" routerLink="/AWS">AWS</a>
                  <a class="dropdown-item" routerLink="/iot">IOT(AI,ML)</a>
                 
                  
                  
                 
                </div>
              </div>
<br><br><br><br>
</div>
<div  style="background-color:rgb(30, 128, 194);width:75%;padding:148.5px;float:left">
        <h2   style="color:white"><u>About US</u></h2>
        <p  style="color: white" align="left">This Page helps Mentees to find their perfect mentor for good guidence.
                Our concept of mentoring is simple that lists characteristics of effective mentoring to include "the ability and willingness to
    
                value the mentee as a person;
                develop mutual trust and respect;
                maintain confidentiality;
                listen both to what is being said and how it is being said;
                help the mentee solve his or her own problem, rather than give direction;
                focus on the mentee's development and resist the urge to produce a clone."
        </p>
</div>
</div>