<div  style="background-color: rgb(110, 133, 121)">
    <a routerLink="/adminhome"><h5 style="color:RED">BACK</h5></a>
        <p align="center" style="color:rgba(133, 7, 66, 0.637); font-style:bold;font-size: xx-large; ">Mentors On Demand</p>
        <h2 align="center"> Users</h2>
        <div  style="display: flex;
        align-items: center; 
        width: 100%;
        height: auto;
        background-color:  #333127;
        ">
       
            <div style=" width: 50%;
            height: auto;
            margin: auto;
            border-radius: 40px;
            background-color: #0b68e2;
            font-style: oblique;
            ">
                <h3 align="center">Active Users</h3>
                <div *ngFor="let user of users" >
                   
                <table border="2px" align="center" class="table-dark">
                    <tr  *ngIf="user.active&&user.role!='admin'" >

                            <td width="20" height="50">{{user.id}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.active}}</td>
                        <td><input type="Submit" value="block" (click)="submit(user)"></td>
                        </tr>
                </table>
           
            </div>
            </div>
          
          
           <div  style=" width: 50%;
           height: auto;
           margin: auto;
           border-radius: 40px;
           background-color: #0b68e2;
           font-style: oblique;
           ">
               <h3 align="center">Blocked Users</h3>
               <div *ngFor="let user of users">
                  
               <table border="2px" align="center" class="table-dark">
                   <tr *ngIf="!user.active&&user.role!='admin'" >

                       <td width="20" height="50">{{user.id}}</td>
                       <td>{{user.firstName}}</td>
                       <td>{{user.lastName}}</td>
                       <td>{{user.active}}</td>
                       <td><input type="Submit" value="unblock" (click)="submit(user)"></td>
                       </tr>
               </table>
           

                </div>
                
                
        </div><br><br><br>
</div>